[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
agentgrind = "HMUV19dpEUPxjSYdqnp4usgcsjHp6WrZ5ijutmKXcTDz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "/Users/clara/.openclaw/workspace/.trading/solana-wallet.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
